@page "/listado-videojuegos"

@inject HttpClient Http
@using Componentes;

<PageTitle>Videojuegos</PageTitle>

<h1>Listado Videojuegos</h1>

<p>Listado de Videojuegos Agregados</p>

<Parcial3.Componentes.Listvideojuegos></Parcial3.Componentes.Listvideojuegos>