@page "/listado-media"

@inject HttpClient Http
@using Componentes;

<PageTitle>Media</PageTitle>

<h1>Listado Media</h1>

<p>Listado de Media Agregada</p>

<Parcial3.Componentes.ListMedia></Parcial3.Componentes.ListMedia>
