@page "/listado-peliculas"

@inject HttpClient Http
@using Componentes;

<PageTitle>Peliculas</PageTitle>

<h1>Listado Peliculas</h1>

<p>Listado de Peliculas Agregadas</p>

<Parcial3.Componentes.ListadoPeliculas></Parcial3.Componentes.ListadoPeliculas>
